
/*h2 {*/
/*    font-family: sans-serif;*/
/*    font-size: 1.5em;*/
/*    text-transform: uppercase;*/
/*    color: red;*/
/*}*/

/*strong {*/
/*    font-weight: 700;*/
/*    background-color: yellow;*/
/*}*/

/*p {*/
/*    font-family: sans-serif;*/
/*}*/
/*body{*/
/*    color: blue;*/
/*}*/
.project1-btn-item-hover{
    border: 2px solid #e7f1ff;
}
.project1-btn-item-hover:hover{
    background-color: #c0d6f6;
    border: 2px solid #99a9c1;
}
.validation_error{
    color: red;
}

.header{
    border-bottom: 2px solid;
    border-color: #c4c4c4;
}

.background-color{
    background-color: aliceblue;
}

.noteManager-title{
    border-bottom: 2px solid #787878;
    /* border-bottom: 2px; */
    padding-bottom: 3px;
}

.noteManager-main-container{
    max-width: 60rem;
}
.my-form-checked:disabled{
    opacity: 1;
}
.my-form-checked{
    opacity: 1 !important;
}

.notes-card{background-color: #e7f1ff;

}
.notes-card-name{
    color: #0c63e4;
}