<!doctype html>
<html class="font-sans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/start-page/style.css" rel="stylesheet">
</head>

<body class="bg-violet-200">
<!-- Hero section -->
<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
<!--            My Project-->
            Header
        </h1>
        <p class="text-lg font-normal text-gray-700 lg:text-xl sm:px-16 xl:px-48">
<!--            Welcome to my website! Here you will-->
<!--            find a collection of my student projects,-->
<!--            created during my journey into the world of programming.-->
<!--            From small learning tasks to ambitious experiments,-->
<!--            each project reflects my professional and personal growth.-->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quod quia error ipsam totam impedit odit, beatae eum, vitae assumenda quae quasi, maxime suscipit quisquam temporibus quo iste? Ullam, veritatis!
        </p>
    </div>
</section>

<section>

    <div class="py-8 lg:py-15">
        <div class="gap-8 flex justify-center flex-wrap">
            <div class="w-72 p-3 bg-indigo-300 flex justify-between flex-col rounded-md shadow-lg">
                <div>
                    <img class="w-full rounded-md mb-4 h-48" src="/static/img/note-taking.png" alt="Note taking">
                    <h3 class="text-gray-900 text-2xl font-bold ">
                        Notes app
                    </h3>
                    <p class="font-normal mb-5 text-base">
                        Effortlessly organize and access your thoughts
                    </p>
                </div>
                <div>
                    <a href="notes/" class="w-full bg-indigo-500 text-indigo-100 block text-center hover:text-white
                    hover:bg-indigo-700 text-base font-semibold  rounded-md px-3 py-2">
                        Try
                    </a>
                </div>
            </div>

            <div class="w-72 p-3 bg-indigo-300 flex justify-between flex-col rounded-md shadow-lg">
                <div>
                    <img class="w-full rounded-md mb-4 h-48" src="/static/img/echo-api.png" alt="echo-api.png">
                    <h3 class="text-gray-900 text-2xl font-bold">Echo API</h3>
                    <p class="font-normal mb-5">
                        Echo API: Instantly echoes back your POST requests. Fast and reliable.
                    </p>
                </div>
                <div>
                    <a href="Notes/index.html" class="w-full bg-indigo-500 text-indigo-100
                    block text-center hover:text-white hover:bg-indigo-700 text-base
                    rounded-md px-3 py-2 font-medium">
                        Try
                    </a>
                </div>
            </div>

            <div class="w-72 p-3 bg-indigo-300 flex justify-between flex-col rounded-md shadow-lg">
                <div>
                    <img class="w-full rounded-md mb-4 h-48" src="/static/img/under-construction-purple1.png" alt="...">
                    <h3 class="text-gray-900 text-2xl font-bold">
                        Goals tracker
                    </h3>
                    <p class="font-normal mb-5">
                        Track, achieve, thrive. Simplify your success journey. In development
                    </p>
                </div>
                <div>
                    <a href="#" class="w-full bg-gray-600 text-indigo-100 block text-center
                    cursor-not-allowed  rounded-md px-3 py-2 text-base  font-medium">
                        Try
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
</body>

</html>